body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #333;
}
h1 {
  font-family: 'Poiret One', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h3 {
  font-size: 15px;
  text-align: center;
  margin: 5px;
  font-weight: 300;
  text-transform: uppercase;
}
h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: rgb(140, 140, 140);
}
li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
header {
  margin: 60px 60px;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 60px;
}
.project {
  flex: 0 0 24%;
  padding: 0px .5%;
}
.project > img {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  background-color: white;
}
.project > img:hover {
    transform: scale(1.08);
}
.nav {
  position: absolute;
  right: 60px;
  top: 40px;
}
.logo {
  width: auto;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
}
.title {
  display: inline-block;
  vertical-align: middle;
}
