<main>
  <div class='project'>
    <img src="Images/campminder.png" alt="" id='project5'>
    <h3>Campminder // Product Design</h3>
  </div>
  <div class='project'>
    <img src="Images/rosalind.jpg" alt="" id='project1'>
    <h3>Rosalind // Full Stack</h3>
  </div>
  <div class='project'>
    <img src="Images/studioart.png" alt="" id='project6'>
    <h3>Photography // Painting</h3>
  </div>
  <div class='project'>
    <img src="Images/trainingpeaks.jpg" alt="" id='project2'>
    <h3>TP Redesign // UX/UI Design</h3>
  </div>
  <div class='project'>
    <img src="Images/fuelmapper.jpg" alt="" id='project3'>
    <h3>Fuelmapper // Front End</h3>
  </div>
  <div class='project'>
    <img src="Images/EFK.jpg" alt="" id='project4'>
    <h3>EFK Group // UI Design</h3>
  </div>
  <div class='project'>
    <img src="Images/sim.png" alt="" id='project7'>
    <h3>DOJO4 // UI Design</h3>
  </div>
  <div class='project'>
    <img src="Images/wordup.jpg" alt="" id='project8'>
    <h3>Word Up // UI Design</h3>
  </div>
</main>

<!-- project modals -->
<div class='modal' id='project8Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>Word Up</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>UI design for an e-commerce site selling zines and novellas.</p>
      <h3>Technologies/Methods</h3>
      <p>Sketch, wireframing, user research and testing.</p>
    </div>
    <img src="Images/Wordupallcat.jpg" alt="" class='modalHero'>
    <img src="Images/Wordupmodal.jpg" alt="" class='modalHero'>
    <img src="Images/Wordupcheckout.jpg" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project1Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>Rosalind</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>Rosalind uses the 23andme human genome API to make customized health reccomendations based on genetics. The prototype lives <a href="https://rosalind-app.herokuapp.com/" target='_blank'>here</a>, but requires a 23andme account to log in.</p>
      <h3>Technologies/Methods</h3>
      <p>Node, Express, D3, OAuth, Knex/Postgres, API integration, jQuery.</p>
    </div>
    <img src="Images/Rosalind-intentions.png" alt="" class='modalHero'>
    <img src="Images/Rosalind-list.png" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project5Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>Campminder</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>Although I can't share the actual CampMinder software, I can share the major changes I have made since joining as the first member of CM's product team.</p>
      <p><span>1 </span> Improvements to experience and fluidity (like this progress bar) to reduce customer support time.</p>
      <p><span>2 </span> Modernized forms, including more dynamic inputs and better validation.</p>
      <p><span>3 </span> Grey tones to soften the design. Camp isn't harsh, why should its software be?</p>
      <p><span>4 </span> More space around text, forms, modals etc to make the software more readable and less overwhelming.</p>
      <p><span>5 </span> Varying font weight, color, and size to distinguish between different contexts and importance.</p>
      <p><span>6 </span> Most importantly: since I am the first member of CM's product team, I had to define a design process. Given the limited resources and existing systems, I figured out that it worked best to do some steps concurrently (like ideation and user testing) and utilize my colleagues in design workshops.</p>
      <h3>Technologies/Methods</h3>
      <p>Sketch</p>
      <p>InVision</p>
      <p>Remote usability testing</p>
      <p>Design sprints</p>
      <p>HTML/CSS</p>
      <p>One-on-one interviewing</p>
    </div>
    <img src="Images/campminderWork.jpg" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project2Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>TP Redesign</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>A UI redesign for a training software company. The main intention was to reduce the barriers to understanding data by making it as simple to read as possible.</p>
      <h3>Technologies/Methods</h3>
      <p>Sketch, A/B testing, wireframing.</p>
    </div>
    <img src="Images/tpredesign.jpeg" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project3Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>FuelMapper</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>FuelMapper allows potential Ironman triathletes to calculate an optimal calorie intake during the race by inputting some basic pace and demographic information. Check out the app <a href="https://fuelmapper.herokuapp.com/app" target='_blank'>here</a>.</p>
      <h3>Technologies/Methods</h3>
      <p>D3, Node, Express, JS.</p>
    </div>
    <img src="Images/fuelmapper-form.png" alt="" class='modalHero'>
    <img src="Images/fuelmapper-graph.png" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project4Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>EFK Group</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>User research and UI design for an ecofuel company looking to attract investment.</p>
      <h3>Technologies/Methods</h3>
      <p>Personas, Wordpress, Sketch.</p>
    </div>
    <img src="Images/Momentum2.jpg" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project6Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>Studio Art</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>When I get bored of the computer, I sometimes play around with other mediums: photography, acrylic, pencil, clay. Whatever I can get my hands on!</p>
    </div>
    <img src="Images/IMG_0591.jpg" alt="" class='modalHero'>
    <img src="Images/painting1.jpg" alt="" class='modalHero'>
  </div>
</div>
<div class='modal' id='project7Modal'>
  <div class='inlay'>
    <img src="Images/delete.png" alt="" class='close'>
    <h2>Seemingly Insignificant Moments</h2>
    <div class='inlayText'>
      <h3>Description</h3>
      <p>When I was 21, my dad passed away, so I wrote a book about him. I lived in SF and interviewed a bunch of people that knew him, and the next year, I published <a href="https://www.amazon.com/Seemingly-Insignificant-Moments-Madeline-Pickering/dp/1312105925" target="_blank">Seemingly Insignificant Moments</a>.</p>
      <h3>Methods</h3>
      <p>Writing like crazy from dawn to dusk.</p>
    </div>
    <img src="Images/sim2.png" alt="" class='modalHero'>
  </div>
</div>



<div id='about' class='skew'>
  <div class='me'>
    <p>I'm a product designer* who gets inspired by applying process and creativity to projects that help people exercise their freedom (by sharing ideas, taking control of their healthcare etc.).</p>
    <p>I started this journey with an entrepreneurship degree at Babson College. After spending some time in the non-profit world, I discovered a fascination with UX and the relationship between human behavior and technology. I convinced the people at <a href="http://dojo4.com/" target="_blank">Dojo4</a> to let me be an apprentice while learning the latest UI/UX methodologies from my mentor, <a href="http://mikedekker.com/" target="_blank">Mike Dekker</a>. Then I spent 6 months learning to code at galvanize so I could build what I was designing</p>
    <p>I now work at <a href="http://campminder.com/" target="_blank">CampMinder</a> as the sole member of the product team, where I'm crafting a design process specific to this company and it's resources. I'm based in Boulder, Colorado on the weekdays and in my Honda Element on the weekends. I like to climb, swim+bike+run, write novels, and dance like no one is watching.</p>
    <h5>*What the heck is a product designer, you ask? Good question. My role encompasses internal and external research, business analysis, user experience design, interface design, graphic design, information architecture, specification writing, prototyping, project management and developer support.</h5>
    <div class="linkschunk">
      <a href="mailto:madelinepickering@gmail.com"><button>Message me</button></a>
      <a href="https://github.com/madelinepick" target='_blank'><button>Github</button></a>
      <a href="https://www.linkedin.com/in/madelinepick" target='_blank'><button>Linkedin</button></a>
    </div>
  </div>

  <section class='green'>
    <h3>Technologies I love</h3>
    <ul>
      <li>Sketch</li>
      <li>InVision</li>
      <li>Angular</li>
      <li>Node</li>
      <li>Express</li>
      <li>Git/github</li>
    </ul>
  </section>
  <section class='blue'>
    <h3>Methods I love</h3>
    <ul>
      <li>Human-centered design (duh)</li>
      <li>Design systems</li>
      <li>Google Ventures Design Sprints</li>
      <li>Circular design</li>
      <li>Iterative prototyping</li>
      <li>Pencil &amp paper</li>
      <li>Workshopping with users</li>
      <li>Applying behavioral science to tech</li>
    </ul>
  </section>
  <section class='yellow'>
    <h3>Things I can do for you</h3>
      <p>Take your team through a design process to build new features.</p>
      <p>Harness user testing to design a user experience.</p>
      <p>Design a user interface.</p>
      <p>Conduct user research to help you understand your current product.</p>
  </section>
</div>

<footer>
  <p>Copyright forever Madeline Pickering, LLC</p>
</footer>
