<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Madeline Pickering</title>

    <!-- styles -->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Lato:400,300,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../stylesheets/style.css">

    <!-- scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js'></script>
    <script src='../javascripts/app.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
